
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    background-image: url("../img/update.jpg");
    background-size: cover;
}


.update{
    margin-left: 50%;
  }


  
#na{
    margin-left: 50%;
    margin-right: 50%;
  }


#sub{
    font-family: cursive;
}